@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background-color: #6F00FF;
    }
    hi {
        color: #0010FF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-small;
    }
    p {
        
    }
</style>
<h1>Click on the picture to register your movie</h1>
 <a href="Movie/MovieForm"><img src="https://www.residentadvisor.net/images/profiles/partiboi69.jpg" /></a>





